<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Return Book</title>

    <link rel="stylesheet"
          href="/static/style.css">

</head>

<body>

    <div class="navbar">

        <h2>📕 Return Book</h2>

        <a href="/dashboard">
            Dashboard
        </a>

    </div>

    <div class="form-container">

        <h1>Return Book</h1>

        <form method="POST">

            <input type="number"
                   name="issue_id"
                   placeholder="Issue ID"
                   required>

            <input type="number"
                   name="days_late"
                   placeholder="Days Late"
                   required>

            <button type="submit">

                Return Book

            </button>

        </form>

    </div>

</body>

</html>